/* Add @font-face for SF UI Rounded */

@font-face {
  font-family: 'SF UI Rounded';
  src: url('/fonts/SF_UI_Rounded.woff2') format('woff2'),
    url('/fonts/SF_UI_Rounded.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Rounded';
  src: url('/fonts/SF_UI_Rounded-Bold.woff2') format('woff2'),
    url('/fonts/SF_UI_Rounded-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
